<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="cancelOrders" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
			<resource>Salecto_AutoCancel::Salecto_AutoCancel</resource>
		</section>

        <tab id="salecto" translate="label" sortOrder="0">
            <label>Salecto</label>
        </tab>
        <section id="salecto_autoCancel" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Auto cancel orders</label>
            <tab>salecto</tab>
            <resource>Salecto_AutoCancel::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Orders cancel cron setting</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cancelDate" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consider Cancellation After</label>
                    <depends>
                      <field id="enabled">1</field>
                    </depends>
                    <comment>Date Format(YY-MM-DD)</comment>
                    <tooltip>Orders Prior to this date will be set as canceled</tooltip>
                    <validate>required-entry</validate>
                    <frontend_model>Salecto\AutoCancel\Block\Adminhtml\Config\DatePicker</frontend_model>
                </field>
                <field id="orderStatus" translate="label comment" type="multiselect" 
                sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Status Option</label>
                    <depends>
                      <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <validate>required-entry validate-select</validate>
                </field>
                <field id="payMethods" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Method Group</label>
                    <depends>
                      <field id="enabled">1</field>
                    </depends>
                    <frontend_model>Salecto\AutoCancel\Block\Adminhtml\Form\Field\PayMethods</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <validate>required-entry</validate>
                </field>
                <field id="nukeCancle" translate="label" type="button" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apply Now</label>
                    <depends>
                      <field id="enabled">1</field>
                    </depends>
                    <frontend_model>Salecto\AutoCancel\Block\Adminhtml\Config\Button</frontend_model>
                    <comment>Please save the configuration and clear catche(s) before apply.</comment>
                    <tooltip>It will run the auto order cancel proccess without waiting for cron with saved configuration options.</tooltip>
                </field>
            </group>
        </section>
	</system>
    
</config>
